---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <article class="post mx-auto flex w-full max-w-prose flex-col gap-4 text-neutral-700 dark:text-neutral-300">
    <header role="presentation" class="flex flex-col gap-1">
      <h1 class="text-lg font-semibold text-neutral-900 dark:text-neutral-50">
        {post.data.title}
      </h1>
      <p class="text-xs text-neutral-500">
        {formatDate(post.data.publishedAt)}
      </p>
      <p class="mt-2 italic text-neutral-600 dark:text-neutral-400">
        {post.data.description}
      </p>
    </header>

    <Content />
  </article>
</Layout>
